<!DOCTYPE html>
<html>
    <head>
        <title><%= title %> | Inventory</title>
        <script src="js/bootstrap.js"></script>
        <script src="js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
        <!-- <script src="js/ace/theme-monokai.js"></script> -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <style type="text/css" media="screen">
          #editor {
            width: 98%;
            height: 40rem;
          }
      </style>
    </head>
    <body>
        <%- include('./partials/navbar.ejs') %>
        <div class="row my-2 d-flex justify-content-center">
          <div class="card col-6">
            <div class="card-header">
              Add a New Product
            </div>
            <div class="card-body">
              <div class="col-12">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default">Product Name</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="product_name" />
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default">SKU</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="sku" />
                </div>
              
                <div class="row mb-3">
                    <div class="col-6">
                      <div class="input-group">
                        <span class="input-group-text" id="inputGroup-sizing-default">Price</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="price">
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="input-group">
                        <span class="input-group-text" id="inputGroup-sizing-default">Currency</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="currency" />
                      </div>
                    </div>
                </div>
                <div class="row mb-3">
                  <div class="col-8">
                    <div class="input-group">
                      <label class="input-group-text" for="inputGroupSelect01">Category</label>
                      <select class="form-select" id="category">
                        <option selected value="">Select Category</option>
                        <% for(let i=0;i<category.length;i++) { %>
                          <option value="<%= category[i]['name']%>"><%= category[i]['name']%></option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="input-group">
                      <span class="input-group-text" id="inputGroup-sizing-default">Quantity</span>
                      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="quantity" />
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary" id="add_product_button">Add Product</button>
              </div>
            </div>
          </div>
          
        </div>
        <%- include('./partials/footer.ejs') %>
        <script>
          let add_product_button = document.getElementById('add_product_button');
          let product_name = document.getElementById('product_name');
          let sku = document.getElementById('sku');
          let price = document.getElementById('price');
          let currency = document.getElementById('currency');
          let category = document.getElementById('category');
          let quantity = document.getElementById('quantity');

          function validateInput(){
            if(product_name.value.length<5){
              return {
                'status':false,
                'message':"Product Name cannot be blank and should be atleast 5 character"
              };
            }
            if(sku.value.length<1){
              return {
                'status':false,
                'message':"SKU cannot be blank and should be atleast 5 character"
              };
            }
            var number_pattern = /^\d+\.\d{0,2}$/;
            let p = price.value
            if(!number_pattern.test(p)){
              return {
                'status':false,
                'message':"Price should be number with upto 2 decimal"
              };
            }
            if(currency.value.length < 1){
              return {
                'status':false,
                'message':"Currency cannot be empty"
              };
            }
            // console.log(category.options[category.selectedIndex].value)
            if(category.value.length < 1){
              return {
                'status':false,
                'message':"Please select a Category"
              };
            }
            let qty = quantity.value;

            number_pattern = /^\d+$/;
            // console.log(qty)
            if(!number_pattern.test(qty)){
              return {
                'status':false,
                'message':"Quntity has to be an integer"
              };
            }


            // everything is right
            return {
                'status':true,
                'message':"Ok"
              };
          }
          add_product_button.addEventListener('click', function(){
            // console.log("click");
            let name = product_name.value;
            // console.log(name)
            let valid = validateInput();
            if(valid['status']){
              
              let url = "/create";
              const data = {
                  key1: "value1",
                  key2: "value2"
              }; // Data you want to send to the server
              const xhr = new XMLHttpRequest();
              xhr.open("POST", url, true);
              xhr.setRequestHeader("Content-Type", "application/json"); // Set content type to JSON
              xhr.onreadystatechange = function () {
                  if (xhr.readyState === 4 && xhr.status === 200) {
                      const response = JSON.parse(xhr.responseText);
                      console.log(response);
                  }
              };
              xhr.send(JSON.stringify(data));
            }else{
                alert(valid['message'])
                return
            }
            
          })
          sku.addEventListener('keyup', function(e){
            console.log(e.target.value)
          })
        </script>
        
    </body>
</html>